:root {
    --primary: #08143B;
    --secondary: #3B3463;
    --accent-primary: #E61C7F;
    --accent-secondary: #DF06B4;
    --accent-tertiary: #42c4d5;
    --text: #FFF;
}

/* Define animation that goes from top to bottom */
@keyframes slideDown {
    0% {
        transform: translate(-50%, -150%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slideUpTooltip {
    0% {
        top: 5.3rem;
        opacity: 0;
    }
    100% {
        top: 4.3rem;
        opacity: 1;
    }
}

html, body {
    height: 100%;
}

* {
    background: var(--primary);
    font-family: "Open Sans", sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    color: var(--text);
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
}

h2 {
    color: var(--text);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.fa-chevron-left {
    position: absolute;
    top: 1.5rem;
    font-size: 2rem;
    color: var(--accent-primary);
    background: none;
    transition: filter 0.3s ease;
}

.fa-chevron-left:hover {
    color: var(--accent-secondary);
   filter: drop-shadow(0 0 5px var(--accent-secondary));
}

.delete-event {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--accent-primary);
    background: none;
    transition: filter 0.3s ease;
}

.delete-event:hover {
    color: var(--accent-secondary);
   filter: drop-shadow(0 0 5px var(--accent-secondary));
}

.helmet-img {
    width: 3rem;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0 0 5px black);
    -webkit-filter: drop-shadow(0 0 5px black);
    background: none;
}

.team-img {
    width: 10rem;
    height: auto;
    object-fit: cover;
    -webkit-filter: drop-shadow(0 0 5px black);
    filter: drop-shadow(0 0 5px black);
    background: none;
}

.create-event-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 1rem;
}

.add-time-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-field, .select-field {
    border: 2px solid var(--accent-primary);
    background: var(--primary);
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    position: relative;
}

.input-field:focus-visible, .select-field:focus-visible {
    outline: none;
    border: 2px solid var(--accent-secondary);
    box-shadow: 0 0 10px 0 var(--accent-primary);
    background: var(--secondary);
    color: var(--text);
}

.input-field::placeholder, .select-field::placeholder {
    color: var(--secondary);
    font-size: 1.3rem;
}

.input-field:focus-visible::placeholder, .select-field:focus-visible::placeholder{
    color: var(--primary);
}

.input-big, .select-big {
    width: 50%;
    font-size: 1.3rem;
}

.input-big::placeholder, .select-big::placeholder {
    font-size: 1.3rem;
}

.input-medium, .select-medium {
    width: 30%;
    font-size: 1rem;
}

.input-medium::placeholder, .select-medium::placeholder {
    font-size: 1rem;
}

.input-small {
    width: 3.5rem;
    font-size: 1rem;
}

.select-small {
    width: 8rem;
    font-size: 1rem;
}

.label-title {
    color: white;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.label-time {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.btn-submit {
    background: linear-gradient(to bottom right, var(--accent-primary), var(--accent-secondary));
    color: var(--text);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    transition: box-shadow 0.3s ease;
    margin-top: 1rem;
}

.btn-submit:disabled{
    background: var(--secondary);
    color: var(--text);
    cursor: not-allowed;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.btn-submit:disabled:hover {
    box-shadow: none;
}

.btn-cancel {
    background: none;
    color: var(--text);
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-top: 1rem;
    transition: all ease 0.3s;
}

.btn-cancel:hover {
    background: var(--secondary);
    color: var(--text);
}

.btn-submit:hover {
    box-shadow: 0 0 15px 0 var(--accent-primary);
}

.times-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.leaderboard {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    color: white;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 5rem;
}

.leaderboard th {
    background: var(--accent-primary);
}

.leaderboard .helmet {
    width: 5rem;
}

.leaderboard .lapNumber {
    width: 7rem;
}

.lapNumber, .lapTime, .gap {
    cursor: pointer;
    position: relative;
}

.leaderboard .team {
    width: 12rem;
    text-align: left;
}

.leaderboard .team-img {
    text-align: left;
}

.leaderboard tr:hover {
    cursor: pointer;
    user-select: none;
}

.leaderboard tr td {
    transition: background 0.3s ease;
}

.leaderboard tr:hover td {
    background: var(--secondary);
}

.table-root td {
    height: 4rem;
}

.event {
    width: 50%;
    margin: 2rem auto;
    border: 2px solid var(--accent-primary);
    border-radius: 0.5rem;
    padding: 2rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 200;
    overflow: hidden;

}

.event:hover {
    cursor: pointer;
    background: var(--secondary);
    transition: background 0.3s ease;
    box-shadow: 0 0 6px 0 var(--accent-secondary);
}

.event h3, .event p{;
    color: var(--text);
    margin: 0;
    background: none;
}

.titleContainer {
    position: relative;
}

.title {
    padding: 1rem;
}


.edit-title, .save-title {
    position: absolute;
    top: 2rem;
    right: -4rem;
    background: none;
    color: var(--accent-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
    display: none;
}

.edit-track, .save-track {
    position: absolute;
    top: 66%;
    left: 77%;
    background: none;
    color: var(--accent-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
    display: none;
}

.isVisible {
    display: inline !important;
}

.tracksSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

/* hide up and down arrows from */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.popup-modal {
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -150%);*/
    transform: translate(-50%, -50%);
    background: var(--primary);
    display: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    /*animation: slideUp 0.5s ease-in-out;*/
}

.driver-modal {
    width: 50rem;
    z-index: 15;
}

.delete-event-modal, .delete-time-modal {
    width: 20rem;
    z-index: 20;
}

.delete-event-modal {
    width: 30rem;
}

.modal-visible {
    display: block;
    animation: slideDown ease 0.5s;
}

.popup-modal *{
    background: inherit;
}

.popup-modal h1 {
    /*color: white;*/
    margin-bottom: 4rem;
}

/* Refers to the selected track input field*/
.tracks:disabled {
    border: 1px solid var(--secondary);
    color: var(--text);
    opacity: 1;
    cursor: not-allowed;

}

.modal-driver-close, .modal-delete-event-close, .modal-delete-time-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--accent-primary);
    background: none;
    transition:  all ease 0.3s;
    /*pointer-events: none;*/
}

.modal-close:hover, .modal-delete-event-close:hover, .modal-delete-time-close:hover {
    filter: drop-shadow(0 0 5px var(--accent-primary));
}

.blackened, .blackened2 {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    backdrop-filter: blur(5px);
}

.blur {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
    display: none;
    backdrop-filter: blur(5px);
}

.blackened-visible, .blur-visible {
    display: block;
}

.driver-laps-table {
    border-spacing: 0;
    border: none;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.driver-laps-table thead {
    background: var(--accent-primary);
}

.driver-laps-table th {
    min-width: 4rem;
}

.driver-laps-table i {
    margin-right: 1rem;
}

.driver-laps-table td{
    height: 2rem;
}

.fa-edit, .fa-check, .fa-trash-alt {
    cursor: pointer;
    background: none;
    transition: filter ease 0.3s, color ease 0.3s;
    display: none;
}

.fa-edit:hover, .fa-check:hover, .fa-trash-alt:hover {
    color: var(--accent-primary);
    filter: drop-shadow(0 0 5px var(--accent-primary));
}

.fa-sort {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
}

.editable {
    border: 2px solid var(--accent-secondary);
    border-radius: 10px;
    background: var(--secondary);
    text-transform: none;
    position: relative;
}


.editable:focus, .editable:focus-visible {
    outline: none;
}

#confirm-delete-time-btn, #confirm-delete-event-btn {
    background: linear-gradient(to bottom right, var(--accent-primary), var(--accent-secondary));
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.minutesContainer, .secondsContainer, .fractionsContainer, .tyresContainer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.tooltip-invalid input{
    border: 2px solid var(--text);
}

.tooltip-invalid::after{
    /*content: "Entrez un nombre valide";*/
    text-align: center;
    position: absolute;
    top: 4.3rem;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    height: auto;
    padding: 0.5rem;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    background: var(--secondary);
    animation: slideUpTooltip ease 0.3s;
}

.title-invalid::after  {
    color: var(--text);
    content: "Minimum 5 characters";
}

.event-title-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;

}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background: none;
    position: relative;
    z-index: 200;
}

.event-body {
    background: none;
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
    /*position: relative;*/
    z-index: 200;
}

.event-body p {
    font-family: 'Source Code Pro', monospace;
}

.event-body p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.invalid-lap-time-modal::before {
    content: "Invalid lap time";
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.5em;
    background: var(--secondary);
}

.invalid-tyre-modal::before {
    content: "Invalid tyre (S, M, H, I, W)";
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.5em;
    background: var(--secondary);
}

.track-img {
    fill: var(--accent-primary);
    color: var(--accent-primary);
    background: none;
    filter: invert(0.5) sepia(40) saturate(50) hue-rotate(240deg);
    opacity: 0.15;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: rotateZ(350deg) translate(-50%, -50%) scale(2);
    z-index: 0;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    width: auto;

}


/*.minutes-invalid::after{*/
/*    content: "Entrez un nombre de minutes entre 0 et 9";*/
/*}*/

/*.seconds-invalid::after{*/
/*    content: "Entrez un nombre de minutes entre 0 et 59";*/
/*}*/

/*.fractions-invalid::after{*/
/*    content: "Entrez un nombre de minutes entre 0 et 999";*/
/*}*/

/*.tooltip-invalid:before {*/
/*    content:"";*/
/*    position: absolute;*/
/*    top: 3.8rem;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: var(--text);*/
/*    z-index: 20;*/
/*}*/

/*.tooltip-invalid input:focus-visible {*/
/*    border: 2px solid var(--text);*/
/*}*/